@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ClashGrotesk";
  src: url("/fonts/ClashGrotesk-Medium.ttf") format("truetype");
}

html,
body {
  @apply no-scrollbar md:overflow-hidden;
}

@media screen and (min-width: 768px) {
  body {
    padding-top: 40px;
  }
}

@layer components {
  .login-btn {
    @apply relative flex flex-row items-center justify-center gap-2 text-[20px] leading-[24px] py-4 px-[30px] w-full rounded-[100px] border border-transparent;
    background-clip: padding-box;
  }
  .login-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    padding: 1px;
    background: radial-gradient(
      27.58% 112.5% at 104.19% 61.46%,
      rgba(255, 255, 255, 0.7) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }
  .login-btn svg {
    @apply w-6 h-6 text-white;
  }
  .login-btn span {
    @apply text-white;
  }

  .frame-btn {
    @apply bg-frame-btn-bg rounded-[12px] py-[8px] px-[16px] w-full flex flex-row items-center w-full gap-[6px] justify-center;
  }
}
